<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>AoC 2019: Day 13</title>
  <link href="style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
  <script src="intcode.js"></script>
  <script src="puzzle.js"></script>
</head>
<body>
  <h1>AoC 2019: Day 13</h1>
  <div id="aoc-arcade" v-cloak>
    <aoc-arcade :width="38" :height="21" :quarters="2" inline-template>
      <div class="aoc-arcade">
        <aoc-arcade-screen :width="width" :height="height" :screen="screen" inline-template>
          <div class="aoc-arcade-screen">
            <div v-for="row in screen" class="aoc-arcade-screen-row">
              <div v-for="tile in row" class="aoc-arcade-screen-tile" :class="'aoc-arcade-screen-tile-' + tile">
                <img v-if="tile !== 0" :src="'img/tile-' + tile + '.png'" :alt="tile">
              </div>
            </div>
          </div>
        </aoc-arcade-screen>
      </div>
    </aoc-arcade>
  </div>
  <script>
    Puzzle.init();
  </script>
</body>
</html>