body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
}

h1 {
  margin-top: 0;
}

[v-cloak] {
  display: none;
}

.aoc-arcade-screen {
  color: #fff;
  background-color: #000;
  display: inline-block;
}

.aoc-arcade-screen-row {
  display: flex;
}

.aoc-arcade-screen-tile {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}