<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>AoC 2019: Day 15</title>
  <link href="style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
  <script src="intcode.js"></script>
  <script src="puzzle.js"></script>
</head>
<body>
  <h1>AoC 2019: Day 15</h1>
  <div id="aoc-droid-app" v-cloak>
    <aoc-area inline-template>
      <div class="aoc-area">
        <div v-for="(row, y) in display" class="aoc-area-row">
          <div v-for="(tile, x) in row" class="aoc-area-tile" :class="'aoc-area-tile-' + tile">
            <span v-if="isDroidPos(x, y)" class="aoc-area-droid">D</span>
          </div>
        </div>
      </div>
    </aoc-area>
  </div>
  <script>
    Puzzle.init();
  </script>
</body>
</html>